.accordion {

  &__control {
    display: flex;
    width: 100%;
    gap: 16px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-block: 15px;
  }

  &__icon {
    position: relative;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    transition: background-color var(--transition) ease-in-out;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      top: 50%;
      left: 50%;
      background-color: var(--light-color);
      transition: background-color var(--transition) ease-in-out,
        transform var(--transition) ease-in-out;
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__option {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--light-color);
    transition: color var(--transition) ease-in-out;
    text-align: left;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: max-height var(--transition) ease-in-out;
  }
}

.accordion__control {
  -webkit-tap-highlight-color: transparent;
  @include hover {
    .accordion {
      &__icon {
        background-color: transparent;

        &::before,
        &::after {
          background-color: var(--accent-color);
        }
      }

      &__option {
        color: var(--accent-color);
      }
    }
  }

  &:active {
    .accordion {
      &__icon {
        background-color: transparent;

        &::before,
        &::after {
          // transition-duration: 0;
          background-color: var(--accent-color);
        }
      }

      &__option {
        color: var(--accent-color);
      }
    }
  }
}

.accordion--open {
  .accordion {
    &__icon {
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(135deg)
        // rotate: 45deg;
      }
    }
  }
}
