.contacts {
  padding-block: 40px 190px;

  &__container {
    display: flex;
    align-items: center;
    gap: min(120px, 8.3vw);
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-skip-ink: none;
    color: var(--light-color);

    @include hover {
      color: var(--accent-color);
    }
  }
}
