.footer {
  padding-block: 30px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;

    .nav__list {
      gap: min(30px, 2vw);
    }

    .nav__link {
      font-size: 12px;
    }
  }

  &__copyright {
    max-width: 13em;
    font-weight: 500;
    font-size: 12px;
    color: var(--light-color);
    margin-left: min(100px, 6.9vw);
  }
}
