.header {
  padding-block: 55px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @include small-tablet {
    position: fixed;
    padding-block: 20px;
    background-color: var(--dark-color);
  }

  &::before {
    @include small-tablet {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--dark-color);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 1;
    margin-right: min(70px, 4.8vw);
    @include small-tablet {
      margin-right: auto;
      order: -1;
    }
  }

  &__nav {
    margin-right: auto;
    @include small-tablet {
      // display: none;
      @include small-tablet {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100dvh - var(--header-height));
        top: var(--header-height);
        left: 0;
        transform: translateY(-100%);
        transition: transform var(--transition) ease-in-out;
        background-color: var(--dark-color);
        z-index: -1;
      }
    }
  }

  &__btn-wrapper {
    @include small-tablet {
      position: relative;
      z-index: 1;
      order: -1;
      margin-right: 14px;
    }
  }

  &__btn {
    @include small-tablet {
      order: 1;
    }
    @include small-mobile {
      display: none;
    }

    &:last-child {
      @include tablet {
        display: none;
      }
    }
  }
}

.logo {
  display: inline-block;
  width: 92px;
  aspect-ratio: 92 / 41;

  @include mobile {
    width: 70px;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {
    // display: block;
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--light-color);
    padding: 7px;

    @include hover {
      color: var(--accent-color);
    }
  }
}

.language-nav {
  position: relative;
  width: 44px;
  aspect-ratio: 1;
  background-image: url("../img/language.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 24px, contain;
  margin-right: 14px;

  @include small-tablet {
    margin-right: 4px;
  }

  @include hover {
    cursor: pointer;
    .language-nav__list {
      display: block;
    }
  }

  &__icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }

  &--active {
    .language-nav__list {
      display: block;
    }
  }

  &__list {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    left: 0;
    padding-block: 10px;

    @include small-tablet {
      background-color: var(--dark-color);
    }

    &--active {
      display: block;
    }
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--light-color);

    @include hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--accent-color);
    }

    &--active {
      color: var(--accent-color);
    }
  }
}

.header__nav {
  .nav__list {
    @include small-tablet {
      // width: max-content;
      // height: max-content;
      width: max-content;
      height: max-content;
      flex-direction: column;
      padding: 20px;
      margin: auto;
    }
  }

  .nav__item {
    @include small-tablet {
      // width: ;
      // text-align: center;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .header__btn {
    display: none;
    margin: 0 auto;

    &:first-of-type {
      @include small-mobile {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    &:last-of-type {
      @include small-tablet {
        display: block;
      }
    }
  }
}
.header__nav.menu--active {
  // pointer-events: none;
  transform: translateY(0);
}
