.numbers {
  padding-block: 98px;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 445px;
    gap: 100px;
    justify-content: space-between;
  }

  &__top-wrapper {
    display: flex;
    align-items: end;
    gap: 24px;
    justify-content: space-between;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 800px;
  }
}

.number {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 64px;
    color: var(--light-color);
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    width: fit-content;
  }
}
