.numbers {
  padding-block: 98px;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 445px;
    gap: 100px;
    justify-content: space-between;
  }

  &__top-wrapper {
    display: flex;
    align-items: end;
    gap: 24px;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
      align-items: start;
    }
  }

  &__btn-wrapper {
    margin-bottom: 8px;
    @include big-desktop {
      flex-direction: column;
      align-items: end;
      // margin-inline: auto;
    }

    @include desktop {
      flex-direction: row;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    width: 100%;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    scroll-margin-top: 150px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // flex-wrap: wrap;
      // justify-content: center;
      gap: 24px;
      max-width: 600px;
      width: 100%;
      margin-inline: auto;
    }

    @include small-mobile {
      // flex-direction: column;
      max-width: 250px;
      grid-template-columns: auto;
    }
  }

  &__title {
    max-width: 800px;

    @include tablet {
      // text-align: center;
      // margin: 0 auto;
    }

    @include small-tablet {
    }
  }
}

.number {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include tablet {
    flex: 1 0 34%;
    // text-align: center;
    // align-items: center;
  }

  @include small-tablet {
    flex: 1 0 34%;
    // min-width: 34%;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 64px;
    color: var(--light-color);

    @include big-desktop {
      font-size: 50px;
    }

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      // font-size: 24px;
    }

    &-infinity {
      font-family: var(--font-family);
      font-size: 84px;
      line-height: 0.876em;

      @include big-desktop {
        font-size: 65px;
      }

      @include small-tablet {
        font-size: 47px;
      }
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    width: fit-content;

    @include small-tablet {
      font-size: 14px;
    }
  }
}
