.tickets {
  padding-block: 40px;

  &__title {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
    margin-bottom: 1.5em;

    @include tablet {
      max-width: calc(600px + 2 * var(--container-offset));
    }

    @include mobile {
      margin-bottom: 2.5em;
    }
  }

  &__item {
    display: flex;
    // align-items: center;

    @include tablet {
      // align-items: normal;
    }

    @include mobile {
      padding-inline: 8px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      .ticket {
        @media (max-width: 1024px) and (min-width: 577px) {
          height: 560px;
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    scroll-margin-top: 50px;
    width: auto;
    box-sizing: border-box;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      max-width: 600px;
      scroll-margin-top: 100px;
    }

    @include mobile {
      display: flex;
      gap: 0;
      padding: 0;
      height: auto !important;
      // align-items: center;
      // grid-template-columns: 1fr;
      // max-width: 350px;
    }
  }
}

.swiper-autoheight .tickets__container {
  // align-items: center;
}
.swiper-autoheight .ticket:not(.ticket-rich) {
  @include mobile {
    height: 580px;
  }
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  background-color: var(--accent-color);
  border-radius: 40px;
  height: 700px;
  padding: 34px 30px 42px;

  &:not(.ticket-rich) {
    // align-self: center;
  }

  @include desktop {
    padding: 24px 20px 30px;
    border-radius: 30px;
  }

  @include tablet {
    height: 640px;
  }

  @include mobile {
    flex: none;
    width: 100%;
    // height: auto;
    // height: 50px;
  }

  // &:nth-child(1),
  // &:nth-child(2) {
  //   @media (max-width: 1024px) and (min-width: 577px) {
  //     height: 520px;
  //   }

  //   // @include mobile {
  //   //   height: auto;
  //   // }
  // }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    color: var(--light-color);
    margin: 0;
    margin-bottom: 0.32em;

    @include mobile {
      font-size: 20px;
    }
  }

  &__price-old {
    font-family: var(--second-family);
    font-size: 28px;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.7);
    align-self: end;

    @include desktop {
      font-size: 22px;
    }

    @include tablet {
      margin-right: 10px;
      // align-self: start;
      // margin-left: 45%;
    }

    @include mobile {
      align-self: center;
      transform: translateX(60%);
      // margin-right: calc((100vw - 32px) * 0.1);
      // font-size: 20px;
      // align-self: start;
      // margin-left: 50%;
    }
  }

  &__price-new {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 78px;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 0.49em;

    @include big-big-desktop {
      // font-size: 60px;
      font-size: 5.6vw;
    }

    @include desktop {
      // font-size: 50px;
      font-size: 6vw;
    }

    @include tablet {
      font-size: 65px;
    }

    @include mobile {
      font-size: 60px;
    }

    @include small-mobile {
      font-size: 55px;
    }
  }

  &__benefits-wrapper {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__list-title {
    display: inline-block;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    color: var(--light-color);
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &__list-item {
    position: relative;
    font-size: 12px;
    color: var(--light-color);
    padding-left: 2.25em;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      aspect-ratio: 1;
      top: -2px;
      left: 0;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }
  }

  &__btn {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    margin-top: auto;

    @include mobile {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }

    @include hover {
      border-color: var(--light-color);
    }

    &:active {
      border-color: var(--light-color);
    }
  }
}

.ticket-rich {
  position: relative;
  background-color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  height: auto;
  // align-self: auto;

  @include desktop {
    border-radius: 30px;
  }

  @include mobile {
    height: auto !important;
  }

  &::after {
    content: "🤑";
    display: block;
    position: absolute;
    font-size: 80px;
    line-height: 1em;
    aspect-ratio: 1;
    top: 57px;
    right: 50px;
    transform: rotate(15deg);

    @include big-desktop {
      font-size: 70px;
      right: 30px;
    }

    @include tablet {
      top: 34px;
    }
  }

  .ticket__title {
    max-width: 3.3em;
    margin-bottom: 2.14em;

    @include tablet {
      margin-bottom: 1em;
    }

    @include mobile {
      margin-bottom: 2.14em;
    }
  }

  .ticket__btn {
    border-color: var(--light-color);

    @include hover {
      border-color: var(--accent-color);
    }
  }
}
