.tickets {
  padding-block: 40px;

  &__container {
    display: flex;
    gap: 16px;
  }
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  background-color: var(--accent-color);
  border-radius: 40px;
  height: 700px;
  padding: 34px 30px 42px;

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    color: var(--light-color);
    margin: 0;
    margin-bottom: 0.32em;
  }

  &__price-old {
    font-family: var(--second-family);
    font-size: 28px;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.7);
    align-self: end;
  }

  &__price-new {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 78px;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 0.49em;
  }

  &__benefits-wrapper {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__list-title {
    display: inline-block;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    color: var(--light-color);
    margin-bottom: 1em;
  }

  &__list-item {
    position: relative;
    font-size: 12px;
    color: var(--light-color);
    padding-left: 2.25em;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }
  }

  &__btn {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    margin-top: auto;

    @include hover {
      border-color: var(--light-color);
    }
  }
}

.ticket-rich {
  position: relative;
  background-color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;

  &::after {
    content: "🤑";
    display: block;
    position: absolute;
    font-size: 80px;
    line-height: 1em;
    aspect-ratio: 1;
    top: 57px;
    right: 50px;
    transform: rotate(15deg);
  }

  .ticket__title {
    max-width: 3.3em;
    margin-bottom: 2.14em;
  }

  .ticket__btn {
    border-color: var(--light-color);

    @include hover {
      border-color: var(--accent-color);
    }
  }
}
