/* stylelint-disable */

@mixin burger {
  --burger-width: 20px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  --burger-padding: 10px;

  position: relative;
  border: none;
  padding: 10px;
  width: calc(var(--burger-width) + 2 * var(--burger-padding));
  height: calc(var(--burger-width) + 2 * var(--burger-padding));
  color: #000;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: var(--burger-padding);
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform var(--transition) ease-in-out, top var(--transition) ease-in-out;
  }

  &::before {
    top: var(--burger-padding);
  }

  &::after {
    top: calc(100% - var(--burger-padding) - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: var(--burger-padding);
    top: 50%;
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform var(--transition) ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: translateY(-1px) rotate(45deg);
      transition: transform var(--transition) ease-in-out, top var(--transition) ease-in-out;
    }

    &::after {
      top: 50%;
      transform: translateY(-1px) rotate(-45deg);
      transition: transform var(--transition) ease-in-out, top var(--transition) ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform var(--transition) ease-in-out;
    }
  }
}
