<section class="agenda">
  <div class="container agenda__container">
    <div class="agenda__title-wrapper">
      <h2 class="heading agenda__title">agenda</h2>
      <span class="agenda__day-title">BIG CONFERENCE DAY</span>
    </div>
    <table class="table agenda__table">
      <thead class="table__head">
        <tr>
          <th>TIME</th>
          <th>SESSIONS</th>
        </tr>
      </thead>
      <tbody class="table__head">
        <tr>
          <td>10:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td>11:00</td>
          <td>Grand opening — welcome speech</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td>BIG speaker session 1</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>14:30</td>
          <td>BIG speaker session 2</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>Networking</td>
        </tr>
        <tr>
          <td>18:30</td>
          <td>Official closing</td>
        </tr>
        <tr>
          <td>20:00</td>
          <td>Fashion show</td>
        </tr>
        <tr>
          <td>21:00</td>
          <td>Adrenaline boost</td>
        </tr>
        <tr>
          <td>22:00</td>
          <td>BIG afterparty</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
