<footer class="footer">
  <div class="container footer__container">
    <a href="" class="logo footer__logo"><img src="img/logo.svg" alt="Big Conference logo" class="logo__image" /> </a>
    <ul class="list-reset social__list">
      <li class="social__item">
        <a href="https://www.instagram.com/big.conf?igsh=ZncxeGsydmN4MjQw" class="social__link" aria-label="Instagram">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://wa.me/37444797513" class="social__link" aria-label="WhatsApp">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://join.skype.com/invite/K9kiOqbJ420I" class="social__link" aria-label="Skype">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#skype"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="viber://chat?number=%2B37444797513" class="social__link" aria-label="Viber">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#viber"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="nav footer__nav" aria-label="Footer Navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Terms of Use</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Privacy Policy</a>
        </li>
      </ul>
    </nav>
    <span class="footer__copyright"> © All rights reserved 2024 confbig.com </span>
  </div>
</footer>
