<footer class="footer">
  <div class="container footer__container">
    <a href="" class="logo footer__logo"
      ><img src="img/logo.svg" alt="Big Conference logo" class="logo__image" />
    </a>
    <nav class="nav footer__nav" title="Footer Navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Terms of Use</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Privacy Policy</a>
        </li>
      </ul>
    </nav>
    <span class="footer__copyright">
      © All rights reserved 2024 confbig.com
    </span>
  </div>
</footer>
