<section class="gallery">
  <div class="container gallery__container">
    <div class="gallery__item gallery-item gallery-item-1">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">BIG event</h2>
        <p class="gallery-item__descr">
          A huge expo space, the industry's most famous names, and top-class
          service — this is the BIG concept.
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/1.png"
            class="gallery-item__image"
            width="478"
            height="405"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-2">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">Adrenaline boost</h2>
        <p class="gallery-item__descr">
          Something special awaits participants with Rich Bitch tickets: the
          speed, power, and beauty of sports cars.
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/2.jpeg"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-3">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">Afterparty</h2>
        <p class="gallery-item__descr">It's gonna be loud here!</p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/3.jpeg"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-4">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">Fashion<br />show</h2>
        <p class="gallery-item__descr">
          The largest iGaming brands will present their collections created
          especially for the conference.
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/4.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/4.jpeg"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-5">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">VIP area</h2>
        <p class="gallery-item__descr">
          An island of chillout in the midst of networking madness, but with its
          own peculiarities — you'll see!
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/5.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/5.jpeg"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-6">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">Speakers</h2>
        <p class="gallery-item__descr">
          Only stars and influencers of the sphere. Without no-names and water.
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/6.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/6.png"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="gallery__item gallery-item gallery-item-7">
      <div class="gallery-item__text-wrapper">
        <h2 class="gallery-item__title heading">Audience</h2>
        <p class="gallery-item__descr">
          Affiliates, advertisers, affiliate networks — all those who shape the
          iGaming market.
        </p>
      </div>
      <div class="gallery-item__image-wrapper">
        <picture>
          <source srcset="img/7.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/7.png"
            class="gallery-item__image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
