<section class="headliner">
  <div class="container">
    <h2 class="heading headliner__title">AFTERparty <span>headliner</span></h2>
    <picture>
      <source srcset="img/die-title.webp" type="image/webp" />
      <img loading="lazy" src="img/die-title.png" class="headliner__title-image" width="1248" height="188" alt="die antwoord title" />
    </picture>
  </div>
  <div class="headliner__container">
    <picture>
      <!-- <source srcset="img/bigdawd.webp" type="image/webp" /> -->
      <!-- <img loading="lazy" src="img/2.jpeg" class="headliner__bg-image" width="1440" height="728" alt="die antwoord background" /> -->
      <img loading="lazy" src="img/die-bg.png" class="headliner__bg-image" width="1440" height="728" alt="die antwoord background" />
    </picture>
    <div class="headliner__wrapper">
      <div class="headliner__print-image-wrapper">
        <picture>
          <source srcset="img/die-print.webp" type="image/webp" />
          <img loading="lazy" src="img/die-print.png" class="headliner__print-image" width="548" height="440" alt="die antwoord ZEF print" />
        </picture>
      </div>
      <div class="headliner__yolandi-image-wrapper">
        <picture>
          <source srcset="img/die-yolandi.webp" type="image/webp" />
          <img loading="lazy" src="img/die-yolandi.png" class="headliner__yolandi-image" width="480" height="754" alt="die antwoord Yolandi" />
        </picture>
      </div>
      <div class="headliner__ninja-image-wrapper">
        <picture>
          <source srcset="img/die-ninja.webp" type="image/webp" />
          <img loading="lazy" src="img/die-ninja.png" class="headliner__ninja-image" width="651" height="794" alt="die antwoord Ninja" />
        </picture>
      </div>
    </div>
  </div>
</section>
