<header class="header fixed-block">
  <div class="container header__container">
    <a href="" class="logo header__logo"
      ><img src="img/logo.svg" alt="Big Conference logo" class="logo__image" />
    </a>
    <nav class="nav header__nav" title="Header Navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>About</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Tickets</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Contacts</a>
        </li>
        <a href="#" class="btn accent-btn header__btn" data-menu-item
          >BOOK A TICKET</a
        >
        <a href="#" class="btn header__btn" data-menu-item>become a sponsor</a>
      </ul>
    </nav>
    <div class="language-nav">
      <ul class="list-reset language-nav__list">
        <li class="language-nav__item">
          <a href="#" class="language-nav__link language-nav__link--active"
            >EN</a
          >
        </li>
        <li class="language-nav__item">
          <a href="#" class="language-nav__link">SR</a>
        </li>
        <li class="language-nav__item">
          <a href="#" class="language-nav__link">UA</a>
        </li>
        <li class="language-nav__item">
          <a href="#" class="language-nav__link">RU</a>
        </li>
      </ul>
    </div>
    <div class="btn-wrapper header__btn-wrapper">
      <a href="#" class="btn accent-btn header__btn">BOOK A TICKET</a>
      <a href="#" class="btn header__btn">become a sponsor</a>
    </div>
    <button
      class="btn-reset burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
