<section id="top" class="hero">
  <picture>
    <source srcset="img/bg.webp" type="image/webp" />
    <img
      src="img/bg.jpg"
      class="hero__bg-image"
      width=""
      height=""
      alt="Big Conference"
    />
  </picture>
  <div class="container hero__container">
    <div class="hero__image-wrapper">
      <picture>
        <source srcset="img/big.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/big.jpg"
          class="hero__image"
          width="928"
          height="443"
          alt="Big Conference"
        />
      </picture>
      <div class="hero__label label">
        <span class="hero__label-title">Belgrade,</span>
        <span class="hero__label-subtitle">serbia</span>
      </div>
      <span class="hero__postscript">Conference</span>
    </div>
  </div>
  <div class="hero__line">
    <span class="hero__line-text"> BALKAN iGAMING CONFERENCE </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
    <span class="hero__line-text" aria-hidden="true">
      BALKAN iGAMING CONFERENCE
    </span>
  </div>
</section>
