<section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title" style="margin-bottom: 1em">Sponsors</h2>
    <div class="sponsors__wrapper">
      <!-- <div class="sponsors-list sponsors-list-key-media swiper">
        <h3 class="sponsors-list__title">Key Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-8.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div> -->
      <div class="sponsors-list sponsors-list-media-temp swiper">
        <!-- <h3 class="sponsors-list__title">Media Partners</h3> -->
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-21.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-22.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://www.pu-partners.com/?utm_source=website&utm_medium=big-conf&utm_campaign=card" target="_blank">
                <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-7.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
          </div>
          <!-- <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-5.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-4.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div> -->
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-3.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://propellerads.com/" target="_blank">
                <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://mostbet.partners/?utm_source=bigconf&utm_medium=site" target="_blank">
                <img src="img/sponsor-19.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://lenkep.io/" target="_blank">
                <img src="img/sponsor-6.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-23.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
            <div class="sponsors-list__image-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title" style="margin-bottom: 1em">media partners</h2>
    <div class="sponsors__wrapper">
      <!-- <div class="sponsors-list sponsors-list-key-media swiper">
        <h3 class="sponsors-list__title">Key Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-8.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div> -->
      <div class="sponsors-list sponsors-list-media swiper">
        <!-- <h3 class="sponsors-list__title">Media Partners</h3> -->
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://conversion.im/" target="_blank">
                <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://fb-killa.pro/" target="_blank">
                <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="http://traffhub.media/?utm_campaign=bigconf" target="_blank">
                <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://piratecpa.net/?utm_source=bigcnf" target="_blank">
                <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://cardinal.best/bigconference" target="_blank">
                <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://pressaff.com/?utm_source=big&utm_content=info" target="_blank">
                <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://traffnews.com/?utm_source=bigconf" target="_blank">
                <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://diasp.pro/?utm_source=GG&utm_campaign=Partners" target="_blank">
                <img src="img/sponsor-20.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://www.thebettingcoach.com/en/" target="_blank">
                <img src="img/sponsor-25.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://cpa-events.ru/" target="_blank">
                <img src="img/sponsor-24.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://cpamafia.top/" target="_blank">
                <img src="img/sponsor-26.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-27.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-28.svg" loading="lazy" alt="" class="sponsors-list__image" />
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://seciva.ru/" target="_blank">
                <img src="img/sponsor-29.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://profitoffer.ru/" target="_blank">
                <img src="img/sponsor-30.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://cpabaton.ru/?utm_source=bigconf" target="_blank">
                <img src="img/sponsor-31.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
              <a href="https://trafficmafia.net/?utm_source=bigconf" target="_blank">
                <img src="img/sponsor-32.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <a href="https://dice.ru" target="_blank">
                <img src="img/sponsor-33.svg" loading="lazy" alt="" class="sponsors-list__image" />
              </a>
            </div>
            <div class="sponsors-list__image-wrapper">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
