<section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title">media partners</h2>
    <div class="sponsors__wrapper">
      <div class="sponsors-list sponsors-list-key-media swiper">
        <h3 class="sponsors-list__title">Key Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-8.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div>
      <div class="sponsors-list sponsors-list-media swiper">
        <h3 class="sponsors-list__title">Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
