<section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title" style="margin-bottom: 1em;">Sponsors</h2>
    <div class="sponsors__wrapper">
      <!-- <div class="sponsors-list sponsors-list-key-media swiper">
        <h3 class="sponsors-list__title">Key Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-8.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div> -->
      <div class="sponsors-list sponsors-list-media-temp swiper">
        <!-- <h3 class="sponsors-list__title">Media Partners</h3> -->
        <div class="sponsors-list__wrapper swiper-wrapper">

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-7.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-5.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-4.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-3.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-19.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-6.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-7.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-5.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-4.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-3.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-19.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-6.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title" style="margin-bottom: 1em;">media partners</h2>
    <div class="sponsors__wrapper">
      <!-- <div class="sponsors-list sponsors-list-key-media swiper">
        <h3 class="sponsors-list__title">Key Media Partners</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-8.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div> -->
      <div class="sponsors-list sponsors-list-media swiper">
        <!-- <h3 class="sponsors-list__title">Media Partners</h3> -->
        <div class="sponsors-list__wrapper swiper-wrapper">

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-20.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
            </div>
          </div>

          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-9.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-14.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-10.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-15.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-11.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-16.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-12.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-17.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-13.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-18.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-20.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
            <div class="sponsors-list__image-wrapper">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
