<section class="numbers">
  <div class="container numbers__container">
    <div class="numbers__top-wrapper">
      <h1 class="numbers__title heading">
        The Big Affiliate Marketing Conference. In a new format.
      </h1>
      <div class="btn-wrapper numbers__btn-wrapper">
        <a href="#" class="btn accent-btn">BOOK A TICKET</a>
        <a href="#" class="btn">become a sponsor</a>
      </div>
    </div>
    <div class="numbers__bottom-wrapper">
      <div class="numbers__item number">
        <span class="number__title">15,000 m²</span>
        <span class="number__descr" style="max-width: 24em"
          >Of exhibition area</span
        >
      </div>
      <div class="numbers__item number">
        <span class="number__title">2000</span>
        <span class="number__descr" style="max-width: 13.5em"
          >Participants from all over the world</span
        >
      </div>
      <div class="numbers__item number">
        <span class="number__title">1</span>
        <span class="number__descr" style="max-width: 10em"
          >Afterparty you'll never forget</span
        >
      </div>
      <div class="numbers__item number">
        <span class="number__title number__title-infinity">∞</span>
        <span class="number__descr" style="max-width: 11.8em"
          >Of your possibilities</span
        >
      </div>
    </div>
  </div>
</section>
