<section class="speakers">
  <div class="container">
    <h2 class="heading speakers__container">speakers</h2>
    <div class="swiper speakers-list">
      <div class="swiper-wrapper speakers-list__wrapper">
        <div class="swiper-slide speakers-list__item speaker">
          <div class="speaker__image-wrapper">
            <div class="speaker__label label">
              <span class="speaker__label-title">Andrew Podolsky</span>
              <span class="speaker__label-subtitle">lala affiliates</span>
            </div>
            <picture>
              <source srcset="speaker-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="speaker-1.png"
                class="speaker__image"
                width="240"
                height="240"
                alt="Andrew Podolsky"
              />
            </picture>
          </div>
          <h3 class="speaker__title">
            Building a better product in the i-Gaming sphere
          </h3>
        </div>
        <div class="swiper-slide speakers-list__item speaker">
          <div class="speaker__image-wrapper">
            <div class="speaker__label label">
              <span class="speaker__label-title">Pavel Markov</span>
              <span class="speaker__label-subtitle">Everest Partners</span>
            </div>
            <picture>
              <source srcset="speaker-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="speaker-2.png"
                class="speaker__image"
                width="240"
                height="240"
                alt="Pavel Markov"
              />
            </picture>
          </div>
          <h3 class="speaker__title">
            How to navigate the i-Gaming market in 2024
          </h3>
        </div>
        <div class="swiper-slide speakers-list__item speaker">
          <div class="speaker__image-wrapper">
            <div class="speaker__label label">
              <span class="speaker__label-title">Saeed Al-Mehdi</span>
              <span class="speaker__label-subtitle">World Aff</span>
            </div>
            <picture>
              <source srcset="speaker-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="speaker-3.png"
                class="speaker__image"
                width="240"
                height="240"
                alt="Saeed Al-Mehdi"
              />
            </picture>
          </div>
          <h3 class="speaker__title">We can do more than we think</h3>
        </div>
        <div class="swiper-slide speakers-list__item speaker">
          <div class="speaker__image-wrapper">
            <div class="speaker__label label">
              <span class="speaker__label-title">Nina Romanenko</span>
              <span class="speaker__label-subtitle">Top Affiliates</span>
            </div>
            <picture>
              <source srcset="speaker-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="speaker-4.png"
                class="speaker__image"
                width="240"
                height="240"
                alt="Nina Romanenko"
              />
            </picture>
          </div>
          <h3 class="speaker__title">The right production is key to success</h3>
        </div>
      </div>
    </div>
    <div class="speakers__nav-left"></div>
    <div class="speakers__nav-right"></div>
  </div>
</section>
