<section class="speakers">
  <div class="container">
      <h2 class="heading speakers__title">speakers</h2>
    </div>
    <div class="container speakers__container">
      <div class="swiper speakers-list">
        <div class="swiper-wrapper speakers-list__wrapper">
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">

              <div class="speaker__label label">
                <span class="speaker__label-title">Vlad Marlon</span>
                <span class="speaker__label-subtitle">Owner, </br>Marlerino Group</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-5.webp" type="image/webp" />
                  <img
                  loading="lazy"
                  src="img/speaker-5.png"
                  class="speaker__image"
                  width="240"
                  height="240"
                  alt="Vlad Marlon"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">
                Building a better product in the i-Gaming sphere
              </h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Dijana Radunović</span>
                <span class="speaker__label-subtitle">general Manager, </br>AskGamblers - Gentoo Media</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-8.webp" type="image/webp" />
                  <img
                  loading="lazy"
                  src="img/speaker-8.png"
                  class="speaker__image"
                  width="240"
                  height="240"
                  alt="Inna Gagarin"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">We can do more than we think</h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">

              <div class="speaker__label label">
                <span class="speaker__label-title">Craig Campbell</span>
                <span class="speaker__label-subtitle">SEO Expert, </br>Craig Campbell SEO</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-6.webp" type="image/webp" />
                  <img
                  loading="lazy"
                  src="img/speaker-6.png"
                  class="speaker__image"
                  width="240"
                  height="240"
                  alt="Craig Campbell"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">
                How to navigate the i-Gaming market in 2024
              </h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Inna Gagarin</span>
                <span class="speaker__label-subtitle">iGaming expert</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-7.webp" type="image/webp" />
                  <img
                  loading="lazy"
                  src="img/speaker-7.png"
                  class="speaker__image"
                  width="240"
                  height="240"
                  alt="Inna Gagarin"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">We can do more than we think</h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Emanuele Arosio</span>
                <span class="speaker__label-subtitle">Digital & SEO Advisor, </br>ASO Specialist</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-10.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-10.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Emanuele Arosio"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">
                How to navigate the i-Gaming market in 2024
              </h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Polina Kapitonova</span>
                <span class="speaker__label-subtitle">Founder, </br>HeadshotIt</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-11.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-11.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Polina Kapitonova"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">
                How to navigate the i-Gaming market in 2024
              </h3> -->
            </div>
          </div>
          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Roman Manuylov</span>
                <span class="speaker__label-subtitle">CEO, </br>Alfaleads Group</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-9.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-9.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Roman Manuylov"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">The right production is key to success</h3> -->
            </div>
          </div>

          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Maxime Sabrie</span>
                <span class="speaker__label-subtitle">Owner, </br>SkyLimit</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-13.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-13.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Maxime Sabrie"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">The right production is key to success</h3> -->
            </div>
          </div>

          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Lee-Ann Johnstone</span>
                <span class="speaker__label-subtitle">Founder, </br>Affiverse</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-14.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-14.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Lee-Ann Johnstone"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">The right production is key to success</h3> -->
            </div>
          </div>

          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Aleksandr Flint</span>
                <span class="speaker__label-subtitle">Owner&Flint</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-15.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-15.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Aleksandr Flint"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">The right production is key to success</h3> -->
            </div>
          </div>

          <div class="swiper-slide speakers-list__item speaker">
            <div class="speaker__wrapper">
              <div class="speaker__label label">
                <span class="speaker__label-title">Nikola Radujković</span>
                <span class="speaker__label-subtitle">Head of Growth,</br> Aphex Media</span>
              </div>
              <div class="speaker__image-wrapper">
                <picture>
                  <source srcset="img/speaker-16.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/speaker-16.png"
                    class="speaker__image"
                    width="240"
                    height="240"
                    alt="Nikola Radujković"
                  />
                </picture>
              </div>
              <!-- <h3 class="speaker__title">The right production is key to success</h3> -->
            </div>
          </div>

        </div>
      </div>
      <div class="speakers__nav-left"></div>
      <div class="speakers__nav-right"></div>
    </div>
  </div>
</section>
