<!-- <section class="sponsors">
  <div class="container sponsors__container">
    <h2 class="heading sponsors__title">sponsors</h2>
    <div class="sponsors__wrapper">
      <div class="sponsors-list sponsors-list-exclusive swiper">
        <h3 class="sponsors-list__title">Exclusive sponsors</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div>
      <div class="sponsors-list sponsors-list-general swiper">
        <h3 class="sponsors-list__title">General sponsors</h3> -->
        <!-- <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div> -->
      <!-- </div>
      <div class="sponsors-list sponsors-list-platinum swiper">
        <h3 class="sponsors-list__title">Platinum sponsors</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-3.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-4.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-5.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div>
      <div class="sponsors-list sponsors-list-gold swiper">
        <h3 class="sponsors-list__title">Gold sponsors</h3>
        <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-6.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-7.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div>
      </div>
      <div class="sponsors-list sponsors-list-silver swiper">
        <h3 class="sponsors-list__title">Silver sponsors</h3> -->
        <!-- <div class="sponsors-list__wrapper swiper-wrapper">
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-1.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
          <div class="sponsors-list__item swiper-slide">
            <div class="sponsors-list__image-wrapper">
              <img src="img/sponsor-2.svg" loading="lazy" alt="" class="sponsors-list__image">
            </div>
          </div>
        </div> -->
      <!-- </div>
    </div>
  </div>
</section> -->
