<section class="swiper tickets">
  <h2 class="heading tickets__title">tickets</h2>
  <div id="tickets" class="swiper-wrapper container tickets__container">
    <div class="swiper-slide tickets__item">
      <div class="ticket__wrapper ticket">
        <h3 class="ticket__title">Basic</h3>
        <span class="ticket__price-old">$200</span>
        <span class="ticket__price-new">$139</span>
        <div class="ticket__benefits">
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">EXPO</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">Visiting the expo zone</li>
              <li class="ticket__list-item">Speaker program</li>
              <li class="ticket__list-item">Video recordings of reports</li>
              <li class="ticket__list-item">Welcome pack</li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn ticket__btn" data-graph-path="modal-book-1"
          >BOOK now</a
        >
      </div>
    </div>
    <div class="swiper-slide tickets__item">
      <div class="ticket__wrapper ticket">
        <h3 class="ticket__title">Pro</h3>
        <span class="ticket__price-old">$500</span>
        <span class="ticket__price-new">$299</span>
        <div class="ticket__benefits">
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">EXPO</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">Visiting the expo zone</li>
              <li class="ticket__list-item">Speaker program</li>
              <li class="ticket__list-item">Video recordings of reports</li>
              <li class="ticket__list-item">Welcome pack</li>
            </ul>
          </div>
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">AFTERPARTY</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">Visiting the afterparty</li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn ticket__btn" data-graph-path="modal-book-2"
          >BOOK now</a
        >
      </div>
    </div>
    <div class="swiper-slide tickets__item">
      <div class="ticket__wrapper ticket">
        <h3 class="ticket__title">VIP</h3>
        <span class="ticket__price-old">$1000</span>
        <span class="ticket__price-new">$639</span>
        <div class="ticket__benefits">
          <!-- <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">PREPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the exclusive preparty</li>
          </ul>
        </div> -->
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">EXPO</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">Visiting the expo zone</li>
              <li class="ticket__list-item">Speaker program</li>
              <li class="ticket__list-item">Video recordings of reports</li>
              <li class="ticket__list-item">Welcome pack</li>
            </ul>
          </div>
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">AFTERPARTY</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">
                Access to the VIP area at the afterparty
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn ticket__btn" data-graph-path="modal-book-3"
          >BOOK now</a
        >
      </div>
    </div>
    <div class="swiper-slide tickets__item">
      <div class="ticket__wrapper ticket ticket-rich">
        <h3 class="ticket__title">Rich Bitch</h3>
        <span class="ticket__price-new">$10k</span>
        <div class="ticket__benefits">
          <!-- <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">PREPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the exclusive preparty</li>
          </ul>
        </div> -->
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">CONCIERGE SERVICE</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">Meeting at the airport</li>
              <li class="ticket__list-item">
                Business assistance at the conference
              </li>
            </ul>
          </div>
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">EXPO</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">
                Private entrance and<br />
                VIP reception
              </li>
              <li class="ticket__list-item">Access to the VIP expo area</li>
              <!-- <li class="ticket__list-item">Speaker sessions</li>
            <li class="ticket__list-item">Video recordings of talks</li>
            <li class="ticket__list-item">Welcome pack</li> -->
            </ul>
          </div>
          <div class="ticket__benefits-wrapper">
            <span class="ticket__list-title">AFTERPARTY</span>
            <ul class="list-reset ticket__list">
              <li class="ticket__list-item">
                Access to the VIP area at the afterparty
              </li>
            </ul>
          </div>
          <div class="accordion ticket__accordion">
            <div class="accordion__content" aria-hidden="true">
              <div class="ticket__benefits-wrapper">
                <span class="ticket__list-title">EXTRA BENEFITS</span>
                <ul class="list-reset ticket__list">
                  <li class="ticket__list-item">
                    Private parking for all BIG Conference events
                  </li>
                  <li class="ticket__list-item">
                    Room in the best hotel for the duration of the conference
                  </li>
                  <li class="ticket__list-item">And many more!</li>
                </ul>
              </div>
            </div>
            <button class="accordion__control btn-reset" aria-expanded="false">
              <span class="accordion__icon">
                <span class="accordion__option-more visually-hidden">show more</span>
                <span class="accordion__option-less visually-hidden">show less</span>
              </span>
              <span class="accordion__option">show MORE</span>
            </button>
          </div>
          <!-- <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title"
            >+ Concierge service <br />&nbsp;&nbsp;&nbsp;& extra benefits</span
          >
        </div> -->
        </div>
        <a href="#" class="btn ticket__btn" data-graph-path="modal-book-rich"
          >find out more</a
        >
      </div>
    </div>
  </div>
</section>
