<section class="tickets">
  <div id="tickets" class="container tickets__container">
    <div class="tickets__item ticket">
      <h3 class="ticket__title">Basic</h3>
      <span class="ticket__price-old">$200</span>
      <span class="ticket__price-new">$139</span>
      <div class="ticket__benefits">
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">EXPO</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the expo area</li>
            <li class="ticket__list-item">Speaker sessions</li>
            <li class="ticket__list-item">Video recordings of talks</li>
            <li class="ticket__list-item">Welcome pack</li>
          </ul>
        </div>
      </div>
      <a href="#" class="btn ticket__btn">BOOK now</a>
    </div>
    <div class="tickets__item ticket">
      <h3 class="ticket__title">Pro</h3>
      <span class="ticket__price-old">$500</span>
      <span class="ticket__price-new">$299</span>
      <div class="ticket__benefits">
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">EXPO</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Entrance to the conference</li>
            <li class="ticket__list-item">Entrance to the afterparty</li>
            <li class="ticket__list-item">Video recordings of talks</li>
            <li class="ticket__list-item">Welcome pack</li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">AFTERPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the afterparty</li>
          </ul>
        </div>
      </div>
      <a href="#" class="btn ticket__btn">BOOK now</a>
    </div>
    <div class="tickets__item ticket">
      <h3 class="ticket__title">VIP</h3>
      <span class="ticket__price-old">$1000</span>
      <span class="ticket__price-new">$639</span>
      <div class="ticket__benefits">
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">PREPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the exclusive preparty</li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">EXPO</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Entrance to the conference</li>
            <li class="ticket__list-item">Entrance to the afterparty</li>
            <li class="ticket__list-item">Video recordings of talks</li>
            <li class="ticket__list-item">Welcome pack</li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">AFTERPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the afterparty</li>
          </ul>
        </div>
      </div>
      <a href="#" class="btn ticket__btn">BOOK now</a>
    </div>
    <div class="tickets__item ticket ticket-rich">
      <h3 class="ticket__title">Rich Bitch</h3>
      <div class="ticket__benefits">
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">PREPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">Access to the exclusive preparty</li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">EXPO</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">
              Separate entrance and registration desk
            </li>
            <li class="ticket__list-item">Access to the VIP area</li>
            <li class="ticket__list-item">Speaker sessions</li>
            <li class="ticket__list-item">Video recordings of talks</li>
            <li class="ticket__list-item">Welcome pack</li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title">AFTERPARTY</span>
          <ul class="list-reset ticket__list">
            <li class="ticket__list-item">
              Access to the VIP area at the afterparty
            </li>
          </ul>
        </div>
        <div class="ticket__benefits-wrapper">
          <span class="ticket__list-title"
            >+ Concierge service <br />& extra benefits</span
          >
        </div>
      </div>
      <a href="#" class="btn ticket__btn">find out more</a>
    </div>
  </div>
</section>
