<section class="what">
  <div class="container what__container">
    <h2 class="what__title heading">What is BIG</h2>
    <div class="what__wrapper what__wrapper-left">
      <p class="what__paragraph">
        Balkan iGaming Conference is a new affiliate marketing conference that
        will bring together the strongest players of the iGaming sphere. It is
        almost impossible to surprise this area, but we will do it! BIG will be
        held in a non-trivial location, turning into a space with art objects
        and a fashion show for one day.
      </p>
      <p class="what__paragraph">
        The venue — Belgrade — was not chosen by chance. It is a city in the
        heart of Europe, where you can easily reach without a Schengen visa. It
        is famous for its brutal architecture and positive attitude towards
        Gambling, and recently a stable affiliate community has formed here.
      </p>
    </div>
    <div class="what__wrapper what__wrapper-right">
      <p class="what__descr">
        Subscribe to updates from BIG to be the first to receive our news about
        speakers, locations, entertainment, and opportunities at the conference.
      </p>
      <a href="#" class="btn what__btn">receive news</a>
    </div>
  </div>
</section>
